html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
    
}

a{
    text-decoration: none;
}

html{
    font:14px/6.98vw 'Montserrat', sans-serif;
    color: #515151;
}

.container{
    position: relative;
}

#navTop, #navTop .navtitle, #navTop .topmenu .topmenuItem{
    color: white;
    background: #373c3f;
    font-size: 3.75vw;
}


 #navTop  {
     cursor: pointer;
     display: flex;
     height: 11.25vw;
}


#navTop  .titleRow{ 
    display: flex;
    justify-content: space-between;
    align-items:stretch;
    width:100%;
}

#navTop .navtitle{
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-left: 5.93vw;
    color: white;
}

#navTop .showMenu{
    float: right;
    background: #202529;
    line-height: 11.25vw;
    width:12.8vw;
    vertical-align: middle;
    text-align: center;
  /*  cursor: pointer;*/
}

#navTop  .showMenu .showMenuImg{
    height: 3.125vw;
}


#navTop .topmenu{
    position: absolute;
    width: 100%;
    top: auto;
    transform: translateY(-100vw);
    transition:1s;
}

#navTop:hover .topmenu  {
    z-index:2;
    transform: translateY(11.25vw);
    transition: 1s ease-out;   
}

#navTop .topmenu li .topmenuItem{
    display: block;
    padding: 5vw  0 5vw 5vw;
    text-decoration: none;
    text-transform: uppercase;
   margin-top: -1px;
}

#navTop .topmenu li a:hover{
    background:  #202529;
     transition: 1s;
}

.header-block{
    padding: 17vw 20.31vw 16vw 8.4vw;
    background: linear-gradient(to top right, #078aa4, #19b4c6);
    color: white;
}

.header-block h1{
    font-size: 5.625vw;
    line-height: 7.18vw;
    margin-bottom: 4.37vw;
    letter-spacing: 1px;
    word-spacing: 2px;

}

.header-block .row  {
    font-size: 3.43vw;
    position: relative;

}

.header-block .row a{
    color: #aad7e0;
}
.header-block .row .imgrow{
    display: block;
    bottom: 2px;
    position: absolute;
    right: 4px;
    height: 2.5vw;
    transition: 1s;
    cursor: pointer;

}

.header-block a:hover{

    color:#202529; 
    transition: 1s;
}

.header-block a:hover+.imgrow {
    transform: translateX(400%);
    transition: 1s; 
}

.header-row-3{
    display: flex;
    justify-content:  space-between;
    padding-left: 8.43vw;
    height: 23.43vw;
    background: #27212c;
    color: #6b5f76;   
}

.header-row-3 .contentrow{
    display:flex;
    font-size: 2.81vw;
    padding-top: 10.09vw;
    word-spacing: 2px;
}

.header-row-3 .divrow{
    width: 22.5vw;
    background:#bc3183;
    display: flex;
    justify-content: center;
    align-items:center;

}
.header-row-3 .divrow .divrow-link {
    display:flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
}

.header-row-3 .divrow img{
    height: 3.75vw;
    transition: 1s;
    cursor: pointer;
}

.header-row-3 .divrow:hover{
    background: #de53b6;
    transition: 1s;
}


.galary li .blockRow{
    display: flex;
    height:87vw;
    justify-content: center;
    align-items: center;
    background: #5b0fa1;
    cursor: pointer;
}

.galary ul li {
    margin-bottom: -2px; /*появляется белое пространство внизу картинки?*/
}

.galary ul li .blockRow img{
    height: 10%;
    width: auto;
    cursor: pointer;
    transition: 1s;

}

.galary .blockRow:hover{
    filter: alpha(opacity=50);
    opacity: 0.5;
    transition: 1s;
}

.galary .blockRow:hover .galary-img {
    transform: translateX(200%);
    transition: 1s;
}

.galary ul li .galary-img{
    width: 100%;
    height: auto;
}

#content {
    padding: 2.24rem 1.85rem 3.21rem 2.71rem;
    background: #ebebeb;
    line-height: 1.42rem;
}

#content .content-header {
    color: #088ca5;
    font-size: 1.28rem;
    text-decoration: none;
    margin-bottom: 1.5rem;
}



#content .content-text{
      margin-bottom: 1.85rem;

  }
/*--  ---------------640-----------------------------------*/

@media (min-width:640px) {
    html{
        font:20px/6.88vw 'Montserrat', sans-serif;
    }


    #navTop, #navTop .navtitle, #navTop .topmenu .topmenuItem{
        font-size: 3.9vw;
    }


    #navTop  {
        height: 11.4vw;
    }


    #navTop .navtitle{
        padding-left: 5.78vw;
    }

    #navTop .showMenu{
        width:12.5vw;
        line-height:  11.56vw;
    }

    #navTop:hover .topmenu {
        transform: translateY(72px);
    }

    .header-block{
        padding: 17.18vw 19.6vw 15.95vw 8.125vw;
    }

    .header-block h1{
        font-size: 6.09vw;
        line-height: 6.4vw;
        margin-bottom: 5.16vw;
    }

    .header-block .row  {
        font-size: 3.59vw;
    }

    .header-block .row .imgrow{
        height: 2.9vw;
        right: 12px;
    }

    .header-row-3 .contentrow{
        font-size: 2.96vw;
        padding-top: 10.78vw;
        word-spacing: 1px;
    }


    .header-row-3 .divrow img{
        height: 4.062vw;
    }

    .galary ul li {
        margin-bottom: -4px;
    }

    #content {
        padding: 3.15rem 1.85rem 2rem 3.65rem;
        line-height: 2.2rem;
    }

    #content .content-header {
        font-size: 1.45rem;
        margin-bottom: 1.7rem;
    }

    #content .content-text{
        margin-bottom: 2.4rem;
        letter-spacing: 2px;
        word-spacing: -4px;
    }
}

/*------------------------------------980----------------------------------*/
@media (min-width:980px){
    
    html{
        font:14px/29px 'Montserrat', sans-serif;
    }


    #navTop{
        height: 6.97rem;
        display: block;
    }
    
    #navTop .titleRow .navtitle,
    #navTop .titleRow .showMenu{
        display: none;
    }
    
    #navTop .topmenu{
        position: relative;
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        transform: translateY(0);
    }

    
    #navTop .topmenu li{
        display: inline-flex;        
    }
    
    #navTop .topmenu li .topmenuItem{
        padding: 3.21rem  0.78rem  2.85rem 0.78rem;
        line-height: 0.93rem;
        font-size: 0.93rem;
        letter-spacing: 2px;
    }
    
    #navTop .topmenu li:first-child .topmenuItem{
        padding-left: 3.64rem;
    }
    
    #navTop:hover .topmenu{
        transform: none;
    }

    .header-block {
        padding: 18.6vw 19.9vw 16vw 8vw;
    }

    .header-block h1 {
        font-size: 6.02vw;
        line-height: 6.63vw;
        margin-bottom: 47px;
        letter-spacing: 2px;
    }

    .header-block .row {
        font-size: 3.47vw;
        position: relative;
    }

    .header-block .row .imgrow {
        height: 2.75vw;
        bottom: 3px;
        right: 1.53vw;
    }

    .header-row-3 {
        padding-left: 8.06vw;
        height: 23.78vw;
    }

    .header-row-3 .contentrow {
        font-size: 2.14rem;
        padding-top: 10.8vw;
        word-spacing: 0;
    }

    .header-row-3 .divrow {
        width: 22.34vw;
    }

    .header-row-3 .divrow img {
        height: 40px;
    }
    
    .galary ,.galary ul li .blockRow,
    .galary ul li .galary-img{
         height:28.98vw;
    }
    
    .galary ul{
        width: 100%;      
        display: flex;        
        flex-wrap: nowrap;
    }
    
    .galary ul li {      
        margin-bottom: 0;
    }
    
    
    .galary ul li:first-child{
        width: 33.5%;
    }
    
    .galary ul li .galary-img{
        width: auto;
        transition: 0.5s;
        cursor: pointer;
    }
    
    .galary li .galary-img:hover{
        transform: scale(1.1);
        transition: 0.5s;
    }
    
    
    .galary li .blockRow{        
        height:100%;

    }

    #content {
        padding: 65px 86px 67px 74px;
    }

    #content .content-header {
        font-size: 2.07rem;
        margin-bottom:1.3rem;
    }
    
    #content .text{
        overflow: hidden;
        letter-spacing: 0px;
        word-spacing: 0px;
    }
    
    #content .text .content-text{
        margin-left: 2px;
        margin-bottom: 2.2rem;
    }
    
    #content .column{
        width: 38vw;
    }
    
    #content .left-column{
        float: left;
    }
    
    #content .right-column{
        float: right;
    }
    
    
}

/*------------------------------------1024 ----------------------------------*/

@media (min-width: 1024px) {

    html{
        font:14px/26px 'Montserrat', sans-serif;
    }

    #navTop .topmenu li:first-child .topmenuItem{
        padding-left: 3.78rem;
    }

    .header-block {
        padding: 18.9vw 19.04vw 16.01vw 8.1vw;
    }

    .header-block h1 {
        font-size: 6.05vw;
        line-height: 6.54vw;
        margin-bottom: 48px;
        letter-spacing: 2px;
    }

    .header-block .row {
        font-size: 3.61vw;
    }

    .header-block .row .imgrow {
        height: 2.63vw;
        bottom: 3px;
        right: 2.34vw;
    }

    .header-row-3 {
        padding-left: 8.3vw;
        height: 24.1vw;
    }

    .header-row-3 .contentrow {
        font-size: 2.14rem;
        padding-top: 10.9vw;

    }

    .header-row-3 .divrow {
        width: 22.16vw;
    }

    .header-row-3 .divrow img {
        height: 40px;
    }

    .galary ,.galary ul li .blockRow,
    .galary ul li .galary-img{
        height: 28.8vw;
    }


    #content {
        padding:52px 65px 67px 80px;
    }

    #content .content-header {
        font-size: 2.07rem;
        margin-bottom: 1.3rem;
    }

    #content .text .content-text{
        margin-bottom: 2.2rem;
    }

    #content .column{
        width: 41vw;
    }



}




